* {
	background-color: #e7abd0;

}
.title {
	font-family: 'Cutive', serif;
	color: 	#624a6f;
	background-color: #fbddf2;
}

.captions {
	font-family: 'Cormorant Upright', serif;
}

.img {
	border: solid #a18eb8;
	border-width: 20px;
	float: center;
  	width: 50%;
  	max-width: 500px;
}

.img
{
        opacity:0.5;
}
.img:hover
{
        opacity:1;
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}
